.button__ img{
    height: 23px;
    float:left;
    margin: 5px 0px 5px 0px;
}

.button__ {
    background-color: transparent;
    border: 0px solid white;
    color: white;
    border-radius: 9px;
    border-color: #1d9265;
    cursor: pointer;
  }
.button__:hover{
    background-color: #1d805a;
}

.button__ p{
    float:right;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    margin: 5px 0px 5px 7px;
    bottom: 10px;
}

.button__onlyimg {
    background-color: transparent;
    border: 0px solid white;
    color: white;
    border-radius: 9px;
    border-color: #1d9265;
    cursor: pointer;
  }
  .button__onlyimg:hover{
    background-color: #1d805a;
}

.button__onlyimg img{
    height: 20px;
}
