.header {
  width: 80%;
  min-height: 80px;
  right: 10%;
  left: 10%;
  height: 80px; 
  background-color: #1d9265;
  color: white;
  display: flex;
  align-items: center; /* Dikey hizalamayı düzeltir */
  justify-content: space-between; /* Elemanları yatayda dağıtır */
  position: sticky; /* Akışa dahil olup, üstte sabitlenir */
  top: 0;
  z-index: 10; /* İçeriğin altında kalmasını önler */
  padding: 0 20px; /* İçeriğe sağ-sol boşluk ekler */
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
}


  
  .header__logo {
    width: 150px;
  }
  
  .header__nav {
    display: flex;
    gap: 10px;
  }
  
  .header__button {
    background-color: transparent;
    font-family: "Manrope", sans-serif;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    border-radius: 9px;
    border-color: #1d9265;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .header__button:hover {
    background-color: white;
    color: #282c34;
  }