.my-reservations-page {
  min-height: 100vh; /* Ekran yüksekliğini kaplar */
  display: flex;
  justify-content: center; /* Yatayda merkezler */
  align-items: flex-start; /* Yukarıdan hizalar */
  padding: 20px; /* Dışarıya olan boşluk */
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box; /* Padding'i dahil eder */
}
.reservation-title {
  font-size: 32px;
  font-weight: 700;
  color: #1d9265; 
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.reservation-content {
  width: 100%; /* Genişlik %100 olur */
  max-width: 1200px; /* Maksimum genişlik sınırı */
  border-radius: 12px; /* Yuvarlak köşeler */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
  padding: 20px; /* İçerik iç boşlukları */
  box-sizing: border-box; /* Padding genişliğe dahil */
}
