.notification-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin: auto;
}

.notification-list::-webkit-scrollbar {
    width: 6px;
}

.notification-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.notification-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}
