* {
  transition: all 0.3s ease-in-out;
}

.header__section {
  display: flex;
  align-items: center; 
  opacity: 0;
  animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.header__section img {
  background-color: #1d9265;
  border: 3px solid rgb(160, 160, 160);
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.header__section img:hover {
  transform: scale(1.1); 
}

.header__text {
  margin-left: 5px;
  display: flex;
  flex-direction: column; 
  opacity: 0;
  animation: slideUp 1s forwards; 
}

@keyframes slideUp {
  0% {
      opacity: 0;
      transform: translateY(20px); 
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

.header__text h1 {
  font-family: "Manrope";
  font-size: 50px;
  color: #1d9265;
  margin: 0;
  transition: color 0.3s ease-in-out; 
}

.header__username {
  font-family: "Manrope";
  font-size: 20px;
  color: #1d9265;
  margin: 0px 0px 0px 5px;
  transition: color 0.3s ease-in-out; 
}

.buttons__section {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s forwards; 
}

.buttons__section__button {
  cursor: pointer;
  transition: all 0.3s ease-in-out; 
  width: 200vh;
  background-color: transparent;
  border: 0px solid white;
  color: white;
  border-radius: 9px;
  border-color: #1d9265;
  padding: 15px;
  margin: 10px 0;
}

.buttons__section__button:hover {
  background-color: #f6c825;
  transform: scale(1.05); 
}

.buttons__section__button:hover p {
  color: #1d9265;
  transition: color 0.3s ease-in-out;
}

.buttons__section__button p {
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0px 10px 0px;
  color: #a3a3a3;
  float: left;
  transition: color 0.3s ease-in-out; 
}

