/* Kartların Arka Planı Başlık Tonunda */
.reservation-card {
  background-color: #ffffff; /* Beyaz arka plan */
  border-radius: 15px; /* Yuvarlak köşeler */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Daha belirgin gölge efekti */
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Daha pürüzsüz hover efekti */
  margin-bottom: 25px;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  max-width: 650px;
  height: auto;
  flex-shrink: 0;
  border: 1px solid #e0e0e0; /* İnce gri sınır */
}

/* Hover efekti */
.reservation-card:hover {
  transform: scale(1.05); /* Hover'da kartın hafifçe büyümesi */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
}

/* Restoran ismi ve durum */
.reservation-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.reservation-text {
  font-size: 20px; /* Yazı boyutunu büyüttük */
  font-weight: 600;
  color: #2c3e50; /* Koyu gri renk */
}

.restaurant {
  font-size: 16px;
  color: #7f8c8d; /* Gri tonları */
  margin-top: 5px;
}

.status {
  font-size: 16px;
  margin-top: 5px;
  font-weight: 500;
  color: #66bb6a; /* Durumun yeşil rengi */
}

/* Cancel butonu */
.cancel-button {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.cancel-button:hover {
  background-color: #c0392b;
  transform: translateY(-2px); /* Buton hover'da yukarı kayacak */
}

/* My reservations */
.my-reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservations-content {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
}

.reservations-title {
  font-size: 30px;
  font-weight: 700;
  color: #2c3e50;
  margin-bottom: 30px;
  font-family: 'Manrope', sans-serif;
  text-align: center;
}

/* Reservation cards grid */
.reservations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

/* You made a reservation.. kısmı */
.reservation-text {
  font-family: 'Arial', sans-serif;
  color: #2c3e50;
}
