.restaurant-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .restaurant-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .restaurant-logo:hover {
    transform: scale(1.1);
  }
  
  .restaurant-info {
    font-family: "Manrope", sans-serif;
  }
  
  .restaurant-name {
    font-size: 24px;
    font-weight: bold;
    color: #1d9265;
  }
  
  .restaurant-rating,
  .restaurant-rank {
    font-size: 16px;
    color: #555;
  }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 8px;
}

.modal:hover {
  cursor: pointer;
}