.sign-in-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #1d9265, #3ca674); /* Yeşil tonlarında geçiş */
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Kart yukarı alınır */
  font-family: "Manrope", sans-serif;
  padding-top: 80px; /* Header ile kart arasında daha az boşluk */
  overflow:hidden;
}

.sign-in-form-container {
  width: 600px; /* Daha geniş yapalım */
  height: 43%;
  padding: 30px;
  background-color: #ffffff; /* Beyaz arka plan */
  border-radius: 16px; /* Daha yuvarlak köşeler */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Daha belirgin gölge */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out; /* Yumuşak görünüm */
  animation: loginSlide 0.5s ease-in-out forwards;
  animation-delay: 1s;
  margin-right: 200px;
}

.header__logo {
  width: 1200px;
  height: auto;
  margin-bottom: 20px;
  margin-right: 210px;
  align-self: center; /* Logoyu tam ortalar */
  animation: logoFadeIn 1s ease-in-out; /* Logo için yumuşak animasyon */
}


.sign-in-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-form h1{
  font-size: 40px;
  font-weight: bold;
  color: #1d9265;
  margin-bottom: 15px;
  margin-left: 3px;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 20px;
}

.input-group label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #cccccc;
}

.input-group input {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px; /* Daha yuvarlak köşeler */
  font-size: 24px;
}

.input-group input:focus {
  outline: none;
  border-color: #1d9265;
}

.sign-in-button {
  padding: 15px 100px 15px 100px;
  width: 100%;
  font-size: 24px;
  background-color: #1d9265;
  color: #fff;
  border: none;
  border-radius: 10px; /* Daha yuvarlak köşeler */
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #f6c825;
  color: #1d9265
}

.sign-in-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(29, 146, 101, 0.5);
}

.login-link {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.login-link a {
  color: #1d9265;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@keyframes logoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loginSlide {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}