/* Default Styles (for 2560x1440p screens) */
.sign-in-page {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #1d9265, #3ca674);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Manrope", sans-serif;
  padding-top: 80px;
  overflow: hidden;
}

.sign-in-form-container {
  width: 600px;
  height: auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out;
  animation: loginSlide 0.5s ease-in-out forwards;
  animation-delay: 1s;
  margin-right: 200px;
}

.header__logo {
  width: 1000px;
  height: auto;
  margin-bottom: 20px;
  margin-right: 210px;
  align-self: center;
  animation: logoFadeIn 1s ease-in-out;
}

.sign-in-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in-form h1 {
  font-size: 40px;
  font-weight: bold;
  color: #1d9265;
  margin-bottom: 15px;
  margin-left: 3px;
  text-align: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  padding-bottom: 20px;
}

.input-group label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #cccccc;
}

.input-group input {
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 24px;
}

.input-group input:focus {
  outline: none;
  border-color: #1d9265;
}

.sign-in-button {
  padding: 15px 100px;
  width: 100%;
  font-size: 24px;
  background-color: #1d9265;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sign-in-button:hover {
  background-color: #f6c825;
  color: #1d9265;
}

.sign-in-button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(29, 146, 101, 0.5);
}

.login-link {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.login-link a {
  color: #1d9265;
  font-weight: bold;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@keyframes logoFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loginSlide {
  from {
    opacity: 0;
    transform: translateX(150%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* Media Queries for responsiveness */

/* For screens with a max-width of 1920px (Full HD) */
@media screen and (max-width: 1920px) {
  .sign-in-form-container {
    width: 500px;
    margin-right: 150px;
  }

  .header__logo {
    width: 700px;
    margin-right: 150px;
  }

  .sign-in-form h1 {
    font-size: 36px;
  }

  .input-group input {
    font-size: 22px;
    padding: 25px;
  }

  .sign-in-button {
    font-size: 22px;
    padding: 15px 80px;
  }
}

/* For screens with a max-width of 1366px (Large laptop/Tablet) */
@media screen and (max-height: 950px) {
  .sign-in-page {
    padding-top: 20px;
  }
  .sign-in-form-container {
    width: 650px;
    margin-right: 100px;
    height: 680px;
  }

  .header__logo {
    width: 600px;
    margin-right: 100px;
  }

  .input-group input {
    font-size: 10px;
    padding: 10px;
  }

  .sign-in-button {
    font-size: 20px;
    padding: 10px 50px;
  }

  .login-link {
    margin-top: 2px;
  }

  .login-link a {
    font-size: 16px;
  }

}

/* For screens with a max-width of 1366px (Large laptop/Tablet) */
@media screen and (max-width: 1600px) {
  .sign-in-form-container {
    width: 450px;
    margin-right: 100px;
  }

  .header__logo {
    width: 700px;
    margin-right: 100px;
  }

  .sign-in-form h1 {
    font-size: 32px;
  }

  .input-group input {
    font-size: 20px;
    padding: 20px;
  }

  .sign-in-button {
    font-size: 20px;
    padding: 15px 60px;
  }
}

@media screen and (max-width: 1440px) {
  .sign-in-form-container {
    width: 400px;
    margin-right: 100px;
  }

  .header__logo {
    width: 600px;
    margin-right: 100px;
  }

  .sign-in-form h1 {
    font-size: 30px;
  }

  .input-group input {
    font-size: 18px;
    padding: 18px;
  }

  .sign-in-button {
    font-size: 18px;
    padding: 15px 50px;
  }
  
}

/* For screens with a max-width of 1024px (Tablets/Small laptops) */
@media screen and (max-width: 1024px) {
  .sign-in-page {
    padding-top: 10px;
  }

  .sign-in-form-container {
    width: 90%;
    margin-right: 0;
    padding: 40px;
  }

  .header__logo {
    width: 50%;
    margin-right: 30px;
    margin-left: 8px;
  }

  .sign-in-form h1 {
    font-size: 28px;
  }

  .input-group input {
    font-size: 16px;
    padding: 16px;
  }

  .sign-in-button {
    font-size: 16px;
    padding: 12px 40px;
  }
}

/* For screens with a max-width of 768px (Mobile Devices) */
@media screen and (max-width: 768px) {
  .sign-in-page {
    padding-top: 40px;
  }

  .sign-in-form-container {
    width: 90%;
    margin-right: 0;
    padding: 20px;
  }

  .header__logo {
    width: 70%;
    margin-right: 0;
  }

  .sign-in-form h1 {
    font-size: 24px;
  }

  .input-group input {
    font-size: 16px;
    padding: 16px;
  }

  .sign-in-button {
    font-size: 16px;
    padding: 12px 40px;
  }
}

/* For screens with a max-width of 480px (Small Mobile Devices) */
@media screen and (max-width: 480px) {
  .sign-in-page {
    padding-top: 30px;
  }

  .sign-in-form-container {
    width: 90%;
    margin-right: 0;
    padding: 15px;
  }

  .header__logo {
    width: 60%;
    margin-right: 0;
  }

  .sign-in-form h1 {
    font-size: 20px;
  }

  .input-group input {
    font-size: 14px;
    padding: 12px;
  }

  .sign-in-button {
    font-size: 14px;
    padding: 10px 30px;
  }
}
